<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Gestion de Miembro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/168ef55c2a.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="fondo2 fondox"></div>
    <div th:replace="./Basic/navbar.html"></div>

    <div class="flogin-tabla">
        <div>
            <h1 class="text-center" style="font-family: superBubble">Mi Familia <i class="fa-solid fa-heart"></i></h1>
            <a href="/altaMiembroConUsuario" class="" >
                <img src="iconoMiembro.png" alt="Añadir Miembros" class="img-button p-2 " style="height: 100px; margin-top: -70px;"title="Añadir Miembro">
            </a>
        </div>
        
        <table class="table table-striped table-responsive-md">

            <thead>
                <tr>
                    <th> Nombre </th>
                    <th> Email </th>
                    <th> Rol </th>
                    <th> Puntos </th>
                    <th> Eliminar </th>
                    <th> Modificar </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="miembro : ${listaMiembros}">
                    <td th:text="${miembro.Nombre}"></td>
                    <td th:text="${miembro.Email}"></td>
                    <td th:text="${miembro.Rol}"></td>
                    <td th:text="${miembro.Puntos}"></td>

                    <td> <a th:href="@{/eliminarMiembro/{id}(id=${miembro.id})}" class="" role="button">
                            <img src="eliminar.png" alt="Añadir Miembros" class="img-button p-2 bg bg-secondary" style="height: 50px; border-radius: 5px;"
                                title="eliminar Miembro">
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/modificarMiembro/{id}(id=${miembro.id.toString()})}" class="" role="button">
                            <img src="modificar.png" alt="Añadir Miembros" class="img-button p-2 bg bg-secondary" style="height: 50px; border-radius: 5px;"
                                title="modificar Miembro">
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <br><br><br><br>
</body>

</html>