<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Gestión Tareas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/168ef55c2a.js" crossorigin="anonymous"></script>
            
    </head>

    <body>
        <div class="fondo3 fondox"></div>
        <div th:replace="./Basic/navbar.html"></div>

        <div class="flogin-tabla">
            <h1 class="text-center" style="font-family: superBubble">Todas las Tareas <i class="fa-solid fa-star"></i></h1>
            <a th:href = "@{/altaTarea}" >
                <img src="añadirTarea.png" alt="Añadir Tarea" class="img-button p-2 icon" style="height: 100px; margin-top: -70px;" title="añadir Tarea">
                </a>
                
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Fecha Creación</th>
                        <th> Puntos </th>
                        <th> Descripción </th>
                        <th> Asignación </th>
                        <th> Eliminar </th>
                        <th> Modificar </th>
                        <th> Realización </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarea : ${listaTareas}">
                        <td th:text="${tarea.Nombre}"></td>
                        <td th:text="${#dates.format(tarea.Fecha, 'dd-MM-yyyy')}"></td>
                        <td th:text="${tarea.Puntos}"></td>
                        <td th:text="${tarea.Descripcion}"></td>
                        <td th:text="${tarea.miembro != null ? tarea.miembro.nombre : 'Sin Asignar'}"></td> <!--si la tarea es nula mostrara una cadena vacia si esta llena mostrará el nombre del miembro.-->

                        <td> 
                            <a th:href="@{/eliminarTarea/{id_tarea}(id_tarea=${tarea.id})}" role="button" onclick="return confirmarEliminacion(event)"> 
                                <img src="eliminar.png" alt="eliminar tarea" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Eliminar Tarea">
                            </a>
                        </td>
                        <td> 
                            <a th:href="@{/modificarTarea/{id_tarea}(id_tarea=${tarea.id.toString()})}" role="button"> 
                                <img src="modificar.png" alt="modificar tarea" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Modificar Tarea">
                            </a>
                        </td>
                        <td th:if ="${tarea.miembro != null}" >
                            <a th:href="@{/realizarTarea/{id_tarea}(id_tarea=${tarea.id})}" role="button">
                                <img src="hacer.png" alt="hacer tarea" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Realizar Tarea">
                            </a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            function confirmarEliminacion(event) {
               if (!confirm("¿Estás seguro de que deseas eliminar esta tarea?")) {
                   event.preventDefault();
               }
           }
       </script>
    </body>
<br><br><br><br>
</html>