<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/168ef55c2a.js" crossorigin="anonymous"></script>
        
    </head>
    
    <body>
    <div class="fondo2 fondox"></div>
        <div th:replace="./Basic/navbar.html"></div>
        <div class="flogin-tabla">
            <div >
                <h1 class="text-center" style="font-family: superBubble">Mis Eventos <i class="fa-regular fa-calendar-days"></i></h1>
                <a href="/altaEvento">
                    <img src="añadirTarea.png" alt="Añadir Evento" class="img-button p-2 icon" style="height: 100px; margin-top: -70px;"title="Añadir Miembro">
                </a>
            </div>

            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Fecha del Evento</th>
                        <th> Descripción </th>
                        <th> Miembro Implicado </th>
                        <th> Eliminar </th>
                        <th> Modificar </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${listaEventos}">
                        <td th:text="${evento.Nombre}"></td>
                        <td th:text="${#dates.format(evento.Fecha, 'dd-MM-yyyy')}"></td>
                        <td th:text="${evento.Descripcion}"></td>
                        <td
                            th:text="${evento.miembro != null ? evento.miembro.nombre : 'Sin Asignar'}">
                        </td>

                        <td> 
                            <a th:href="@{/eliminarEvento/{id_evento}(id_evento=${evento.id})}" role="button">
                                <img src="eliminar.png" alt="eliminar Evento" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Eliminar Evento">
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/modificarEvento/{id_evento}(id_evento=${evento.id.toString()})}" role="button">
                                <img src="modificar.png" alt="modificar tarea" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Modificar Evento">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br><br><br><br>
    </body>
</html>