<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Gestión de Recompensas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/168ef55c2a.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="fondo3 fondox"></div>
        <div th:replace="./Basic/navbar.html"></div>
        <div class="flogin-tabla">
            <h1 class="text-center" style="font-family: superBubble">Recompensas <i class="fa-solid fa-crown"></i></h1>
            <a th:href = "@{/altaRecompensa}" >
                <img src="añadirRecompensa.png" alt="Añadir recompensa" class="img-button p-2 icon" style="height: 100px; margin-top: -70px;" title="Añadir Recompensa" >
            </a>
            <table class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th> Nombre </th>
                        <th> Descripción </th>
                        <th> Puntos </th>
                        <th> Eliminar </th>
                        <th> Modificar </th>
                        <th> Canjear </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recompensa : ${listaRecompensa}">
                        <td th:text="${recompensa.Nombre}"></td>
                        <td th:text="${recompensa.Descripcion}"></td>
                        <td th:text="${recompensa.Puntos}"></td>

                        <td> 
                            <a th:href="@{/eliminarRecompensa/{id_recompensa}(id_recompensa=${recompensa.id})}"  class="" role="button" onclick="return confirmarEliminacion(event)">
                                <img src="eliminar.png" alt="eliminar recompensa" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Eliminar Recompensa">
                            </a>
                        </td>
                        <td> 
                            <a th:href="@{/modificarRecompensa/{id_recompensa}(id_recompensa=${recompensa.id.toString})}" class="" role="button">
                                <img src="modificar.png" alt="modificar recompensa" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Modificar Recompensa">
                            </a>
                        </td>
                        <td th:if="${recompensa.Puntos le puntos}" > 
                              <a  th:href="@{/canjearRecompensa/{id_recompensa}(id_recompensa=${recompensa.id})}" role="button">
                                  <img src="diana1.png" alt="canjear recompensa" class="img-button p-2 bg bg-secondary fila" style="height: 50px; border-radius: 5px;" title="Canjear Recompensa">
                              </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <script>
            function confirmarEliminacion(event) {
               if (!confirm("¿Estás seguro de que deseas eliminar esta recompensa?")) {
                   event.preventDefault();
               }
               
           }
       </script>
       
        <br><br><br><br>
    </body>
</html>

