<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css">
    </head>

    <body class="login">
        <div class="fondo"></div>
            <!-- <h1 class="text-center h">Iniciar Sesión</h1> -->
       
            <div id="total-login" class=" ">
                <img src="dutys250.png" alt="alt"/>
            </div>
                <div id="" class="flogin">
                <div id="form">
                    <form action="#" th:action="@{/AccesoMiembro}" method="POST">
                        <div class="col-12 pt-2">
                            <label class="form-label pl-2">Introduce el Email</label>
                            <input type="email" class="form-control" th:name="email">

                        </div>
                        
                        <div th:if="${passIncorrecta}" class="alert alert-danger ml-3 my-2" role="alert">
                            Contraseña incorrecta, por favor inténtalo de nuevo.
                        </div>
                        <fieldset  class="form-group col-12 pt-2" th:classappend="${passIncorrecta} ? 'has-error' : ''">
                            <label class="form-label pl-2">Introduce la contraseña</label>
                            <input type="password" class="form-control" th:name="contraseña">
                            <div th:if="${passIncorrecta}" class="text-danger m-2">
                                Contraseña incorrecta, por favor inténtalo de nuevo.
                            </div>
                        </fieldset>
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark m-3">Validar</button>
                        </div>
                    </form>
            </div>
        </div> 
    </body>
</html>