<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <script src="https://kit.fontawesome.com/168ef55c2a.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="fondo4 fondox"></div>
        <div th:replace="./Basic/navbar.html"></div><br>
        <div class="flogin-tabla">
            <h1 class="text-center h" style="font-size: 30px">Tu Código De Familia  es ...</h1>
            <br><br>
            <div class="col-6 mx-auto">
                <h1 class="card text-center"style="border-radius: 30px" th:text="${familia.codigo}"></h1>
            </div>
        </div>
        <br><br><br><br>
    </body>
</html>