
@font-face {
  font-family: 'superBubble';
  src: url('./superBubble.ttf') format('truetype');
}

.fondo {
    background: url('./casa.jpg')no-repeat center center fixed ;
    background-size: cover;
}

.fondo1 {
    background: url('./salon.jpg')no-repeat center center fixed ;
    background-size: 100%;
    object-fit: cover;
}
fondoinicial{
    background-color: #f4c624; 
    background-size: 100%;
    background-size: cover; 
}

.fondo {
    min-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
/*
.navbar{ 
    background-color: #FAF8F1;  
}
.h{
    
    font-family: superBubble;
    text-transform: uppercase;
    text-align: center;
   letter-spacing: 15px;
   font-size: 70px
}
.navbar{
    
    justify-content: center;
    letter-spacing: 5px;
    background-color: transparent;
    --bs-bg-opacity: #FAF8F1;
}
body{
  
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: stretch;

    font-family: 'Comfortaa Bold Alt2';
}
.nav-item{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 19px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.card-img-custom {
  width: 100%;
  height: 250px; 
  object-fit: cover;
}

img-button {
  width: 32px; 
  height: 32px; 
}

.container-principal{
    display: flex;
    margin-top: 50px;
}

.letter{
    font-family: superBubble;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}*/
#flogin #form {
    margin: 10px 10px;
    vertical-align: middle;
}

.flogin{
    margin: 0 auto;
    padding: 33px;
    width: 390px;
    font-size: 16px;
    border-radius: 16px;
    max-width: 600px;
    backdrop-filter: blur(4px);
    box-shadow: 3px 3px 8px 0px #00000052;
    background: #ffffff96;
    max-height: 470px;
}
.flogin-alta-con-familia{
    margin: 0 auto;
    padding: 33px;
    font-size: 16px;
    border-radius: 16px;
    max-width: 600px;
    backdrop-filter: blur(4px);
    box-shadow: 3px 3px 8px 0px #00000052;
    background: #ffffff47;
    max-height: 470px;
}
.shadow{
    background: rgba(249, 215, 4, 0.28);
    box-shadow: 3px 3px 8px 0px !important;
}
#total-login {
    width: 100%;
   
    height: auto;
    min-height: 140px;
    text-align: center;
}

body.login, body.start {
    flex-direction: column;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

#flogin #form {
    margin: 10px 10px;
    vertical-align: middle;
}

#total-login img {
    width: auto;
    max-width: 400px;
    margin: 0px auto;
    max-height: 240px;
}







/**
 * ----------------------------------------
 * animation letras pagina login
 * ----------------------------------------
 */
/*@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}*/


@font-face {
  font-family: 'superBubble';
  src: url('./superBubble.ttf') format('truetype');
}
.navbar{ 
    background-color: #FAF8F1;  
}
.h{
    
    font-family: superBubble;
    text-transform: uppercase;
    text-align: center;
   letter-spacing: 15px;
   font-size: 70px
}
.navbar{
    
    justify-content: center;
    letter-spacing: 5px;
    background-color: transparent;
    --bs-bg-opacity: #FAF8F1;
}
body{
    background-color: #FAF8F1;
    font-family: sans-serif !important;
}
.nav-item{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 19px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.card-img-custom {
  width: 100%;
  height: 250px; /* Ajusta la altura deseada */
  object-fit: cover;
}

img-button {
  width: 32px; /* Ajusta el ancho según tus necesidades */
  height: 32px; /* Ajusta la altura según tus necesidades */
}

.container-principal{
    display: flex;
    margin-top: 50px;
}

.letter{
    font-family: superBubble;
}

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/**
 * ----------------------------------------
 * animation letras pagina login
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
